<h1>Blogs#edit</h1>
<%= form_with(model: @blog, local: true) do |form| %>

  <div class="title">
    <div class="form-tag">体重</div>
    <%= form.text_field :weight %>
  </div>


  <div class="content">
    <div class="form-tag">体脂肪</div>
    <%= form.text_field :body_fat %>
  </div>

  <div class="time">
    <div class="form-tag">メモ</div>
    <%= form.text_field :mamo %>
  </div>


  <div class="submit">
    <%= form.submit %>
  </div>

  <% end %>