<h1>Blogs#edit</h1>
<%= form_with(model: @blog, local: true) do |f| %>

  <div class="weight">
    <div class="form-tag">体重</div>
    <%= f.text_field :weight %>
  </div>


  <div class="body_fat">
    <div class="form-tag">体脂肪</div>
    <%= f.text_field :body_fat %>
  </div>

  <div class="time">
    <div class="form-tag">メモ</div>
    <%= f.text_field :memo %>
  </div>

  <div class="image">
    <div class="form-tag">画像</div>
      <%= f.attachment_field :image, placeholder: "ファイルを選択" %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

  <% end %>