<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-4' style="margin: 50px 0 50px 0;">
      <h4>入力フォーム</h4>
      <%= form_with(model: @blog, local: true) do |f| %>
        <div class="form-group">
          <div class="form-tag">体重</div>
          <%= f.text_field :weight %> kg
        </div>

        <div class="form-group">
          <div class="form-tag">体脂肪率</div>
          <%= f.text_field :body_fat %> %
        </div>

        <div class="form-group">
          <div class="form-tag">メモ</div>
          <%= f.text_area :memo,placeholder: "筋トレや食事、体調などメモしてください" %>
        </div>

        <div class="form-group">
          <div class="form-tag">画像</div>
          <%= f.attachment_field :image, class: "image" %>
        </div>

        <div class="form-group">
          <div class="form-tag">日時</div>
          <%= f.datetime_select :start_time %>
        </div>
         <!--カレンダーに出力するためにstart_timeが必要-->
        <div class="submit">
          <%= f.submit "登録" %>
        </div>
        <% end %>
    </div>

      <div class="col-md-8 text-right" style="margin: 70px 0 70px 0;">
        <!--カレンダーと繋がる-->
        <%= month_calendar events: @blogs do |date, blogs| %>
          <%= date.day %>
            <% blogs.each do |blog| %>
              <div>
                <%= link_to blog.weight, blog %>
              </div>
            <% end %>
          <% end %>
      </div>
  </div>
</div>

