
<p id="notice"><%= notice %></p>
<div class="show">
<p>
  <strong>体重</strong>
  <%= @blog.weight %>
</p>

<p>
  <strong>体脂肪</strong>
  <%= @blog.body_fat %>
</p>

 <p>
   <strong>メモ</strong>
   <%= @blog.memo %>
</p>


<p>
  <strong>日時</strong>
  <%= @blog.created_at.strftime('%Y/%m/%d') %>
</p>

<%= link_to '編集', edit_blog_path(@blog) %>
<%= link_to '消去', blog_path(@blog.id), method: :delete, data: { confirm: '本当に消去しますか?' } %>
<%= link_to '戻る', blogs_path %>
</div>