<main>
 <p id="notice"></p>
   <div class="container">
     <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <h2>ユーザー情報</h2>

            <%= form_with model: @user, local:true do |f| %>
            <div class="form-group">
              <%= f.label :sex, "性別" %>
              <%= f.select :sex, {'男性': 0, '女性': 1}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
              <!--<#%= f.select :sex, [[man:0,],[woman:1]]  %>-->
            </div>

            <div class="form-group">
              <%= f.label :age, "年齢" %>
              <%= f.text_field :age %>
            </div>

            <div class="form-group">
              <%= f.label :heigth, "身長" %>
              <%= f.text_field :heigth %>
            </div>
              <%= f.submit "ユーザー情報登録", class:"btn btn-secondary" %>
              <% end %>
        </div>
     </div>
   </div>
 </main>